@model AddressBook.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-6 text-primary text-center mt-4">Edit Category</h1>

<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserID" />
            <div class="form-group mt-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-end mt-2 btn-secondary rounded-pill">              
                <button type="submit" class="btn btn-secondary rounded-pill">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
