@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row align-items-center h-100">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">All your connections, organized in one place.</h1>
            <div class="subtitle">
                Keep all your contacts together in one convenient place. Simplify event planning and ensure everyone stays informed!
                <br><br><strong>Proudly crafted with cutting-edge technology:</strong>
                <br><br /><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-heroku-plain-wordmark colored icon"></i>
            </div>
            <div class="text-start mt-5">
                <a class="btn btn-lg btn-outline-secondary rounded-pill" asp-area="Identity" asp-page="/Account/Register">See It in Action</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="/img/phone_women.png" class="img-fluid">
    </div>
</div>
