
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row align-items-center h-100">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-3">
            <h4 class="heroTitle">All your connections, in one place.</h4>
            <div class="subtitle">
                <p>Keep all your contacts together in one convenient place. Simplify event planning and ensure everyone stays informed!</p>
                <h4>Futures Highlights:</h4>
                <ul class="mb-5">
                    <li>Adopt PostgreSQL as the database solution.</li>
                    <li>Implement Identity Framework for user management.</li>
                    <li>Enable contact search functionality.</li>
                    <li>Integrate two-factor authentication for enhanced security.</li>
                    <li>Set up an email system with the capability to:</li>
                    <ul>
                        <li>Send emails to individual contacts.</li>
                        <li>Send mass emails to categorized groups.</li>
                    </ul>
                </ul>
                <i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-heroku-plain-wordmark colored icon"></i>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <p class="mt-5"><strong>Try it Out: </strong> Create a new account by clicking on the button below or use the DEMO account: </p>
                <p>Email: masondev73@gmail.com / Password: Demo_123456</p>
                <div class="text-start mt-3">
                    <a class="btn btn-outline-secondary rounded-pill" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>          
            }
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="/img/phone.png" class="img-fluid">
    </div>
</div>
