@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.navbar-brand {
    font-family: "Uncial Antiqua", system-ui;
    font-size: 2rem;
}

.icon {
    font-size: 3.5rem;
}

.square-img-container {
    position: relative;
}

.square-img-container::after {  
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/* FOOTER */

.footer-brand i {
    color: red;
}

.footer-brand a {
    color: white !important;
    text-decoration: none;
    font-style: italic;
}
