@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-brand {
    font-family: "Uncial Antiqua", system-ui;
    font-size: 2rem;
}

.icon {
    font-size: 3.5rem;
}

.square-img-container {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.square-img-container::after {  
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/* FOOTER */
footer {
    color: #404040;
}

.footer-brand i {
    color: red;
}

.footer-brand a {
    color: #404040 !important;
    text-decoration: none;
    font-style: italic;
}
