html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* HEADER */
.logo {
    height: 60px;
    width: 250px;
}

/* FOOTER */
footer {
    color: #404040;
}

.footer-brand i {
    color: red;
}

.footer-brand a {
    color: #404040 !important;
    text-decoration: none;
    font-style: italic;
}